@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f0f0f5;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
}

.pagination-container .previous,
.pagination-container .next {
  margin-left: 10px;
}

.custom-select::before {
  content: '';
  position: absolute;
  top: 32%;
  right: 10px;
  width: 10px;
  height: 10px;
  border: solid #737380;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  border-radius: 1px;
}

.custom-select {
  position: relative;
  width: fit-content;
}
